.container_lista_anuncios {
  max-width: 1024px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}

.container_lista_anuncios h1 {
  text-align: center;
}

.table_anuncios {
  width: 100%;
  border-collapse: collapse;
}

.table_anuncios thead {
  font-size: 20px;
  background-color: #7a4df4;
  color: #fff;
}

.table_anuncios tbody tr {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #7a4df4;
}

.table_anuncios tbody tr:nth-child(odd) {
  background-color: #f3edff;
}

.table_anuncios tbody tr:nth-child(even) {
  background-color: #fff;
}

.imagem_anuncio {
  width: 40px;
  height: 40px;
  object-fit: cover;
}